{% extends "base.html" %} 

{% block content %}
     
<div class="container">
  <div class="mt-5 row">
    <div class="col-12 col-md-6 mx-auto">
      {% with mensajes = get_flashed_messages() %}
         {% if mensajes %}
              {% for msg in mensajes %}
                <p class="text-white p-3 fw-bold bg-success">{{ msg }}</p>
              {% endfor %}
        {% endif %}
      {% endwith %}
      <form class="border border-1 border-info p-4 rounded">
        <legend class="text-uppercase text-center text-info ">Login</legend>
        <div class="row">
          <div>
            <label for="exampleInputPassword1" class="form-label mt-4 text-uppercase "
              >UserName</label
            >
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Tu nombre de usuario"
              autocomplete="off"
            />
          </div>
        </div>

        <div>
          <label for="exampleInputPassword1" class="form-label mt-4 text-uppercase "
            >Password</label
          >
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="Password"
            autocomplete="off"
          />
        </div>

        <button class="btn btn-info text-uppercase mt-4  d-block mx-auto" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}